.card-pokemon {
  background-color: lightblue;
  width: 300px;
  height: 200px;
  margin: 10px;
  background-image: url("../../pokeball-w.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  padding: 10px 5px;
  border-radius: 20px;
}
.card-header {
  padding: 5px 10px;
}
.poke-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  align-items: center;
}
.poke-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.poke-types {
  text-align: left;
  list-style: none;

  margin-left: 10px;
  float: left;
}
.poke-types li {
  background-color: red;
  margin-left: 10px;
  border-radius: 5px;
  padding: 5px 12px;
  width: auto;
  text-align: center;
}

.img-pokemon {
  width: 70%;
}
