.cardRandom {
  margin-top: 30px;
}
.card {
  margin: 35px 250px;
  padding: 30px;
  border-radius: 20px;
  width: 550px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.card h3,
.card h1 {
  text-align: left;
  color: white;
}
.card h2 {
  color: white;
}
.pokemon-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.types {
  text-align: left;
}
.types li {
  display: inline-flex;
  margin-right: 10px;
  background-color: rgba(251, 249, 249, 0.245);
  border-radius: 10px;
  padding: 5px 10px;
  color: white;
  font-weight: bold;
}
.img-content {
  margin-top: -10px;
}
.img {
  width: 40%;
}

.infos {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.infos p {
  color: white;
  height: 30px;
  text-align: left;
  font-size: 22px;
  margin-top: -30px;
}
