.intro {
  text-align: left;
  font-size: 50px;
  margin-left: 35px;
}
.type-list {
  overflow-x: scroll;
  background-color: aqua;
  padding: 30px 20px;
}

.btn-type {
  width: 100px;
  padding: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
  display: inline;
  text-decoration: none;
}

.normal {
  border: 2px solid #bfbfbfcc;
  background-color: white;
  color: #bfbfbfcc;
  box-shadow: 10px 9px 0px #bfbfbfcc;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.normal:hover {
  background-color: #bfbfbfcc;
  color: white;
  box-shadow: 10px 9px 0px black;
  border: none;
}
.fighting {
  border: 2px solid #994025;
  background-color: white;
  color: #994025;
  box-shadow: 10px 9px 0px #994025;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.fighting:hover {
  background-color: #994025;
  color: white;
  box-shadow: 10px 9px 0px black;
  border: none;
}
.flying {
  border: 2px solid #4a677d;
  background-color: white;
  color: #4a677d;
  box-shadow: 10px 9px 0px #4a677d;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.flying:hover {
  background-color: #4a677d;
  color: white;
  box-shadow: 10px 9px 0px black;
  border: none;
}
.ground {
  border: 2px solid #b98981cc;
  background-color: white;
  color: #b98981cc;
  box-shadow: 10px 9px 0px #b98981cc;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.ground:hover {
  background-color: #b98981cc;
  color: white;
  box-shadow: 10px 9px 0px black;
  border: none;
}
.poison {
  border: 2px solid #a040a0;
  background-color: white;
  color: #a040a0;
  box-shadow: 10px 9px 0px #a040a0;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.poison:hover {
  background-color: #a040a0;
  color: white;
  box-shadow: 10px 9px 0px black;
  border: none;
}

.rock {
  border: 2px solid #a9756fcc;
  background-color: white;
  color: #a9756fcc;
  box-shadow: 10px 9px 0px #a9756fcc;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.rock:hover {
  background-color: #a9756fcc;
  color: white;
  box-shadow: 10px 9px 0px black;
  border: none;
}
.bug {
  border: 2px solid #a8b820;
  background-color: white;
  color: #a8b820;
  box-shadow: 10px 9px 0px #a8b820;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.bug:hover {
  background-color: #a8b820;
  color: white;
  box-shadow: 10px 9px 0px black;
  border: none;
}
.ghost {
  border: 2px solid #705898;
  background-color: white;
  color: #705898;
  box-shadow: 10px 9px 0px #705898;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.ghost:hover {
  background-color: #705898;
  color: white;
  box-shadow: 10px 9px 0px black;
  border: none;
}
.steel {
  border: 2px solid #949494cc;
  background-color: white;
  color: #949494cc;
  box-shadow: 10px 9px 0px #949494cc;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.steel:hover {
  background-color: #949494cc;
  color: white;
  box-shadow: 10px 9px 0px black;
  border: none;
}
.fire {
  border: 2px solid #f08030;
  background-color: white;
  color: #f08030;
  box-shadow: 10px 9px 0px #f08030;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.fire:hover {
  background-color: #f08030;
  color: white;
  box-shadow: 10px 9px 0px black;
  border: none;
}
.water {
  border: 2px solid #6890f0;
  background-color: white;
  color: #6890f0;
  box-shadow: 10px 9px 0px #6890f0;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.water:hover {
  background-color: #6890f0;
  color: white;
  box-shadow: 10px 9px 0px black;
  border: none;
}
.grass {
  border: 2px solid #78c850;
  background-color: white;
  color: #78c850;
  box-shadow: 10px 9px 0px #78c850;

  transition: ease-out 0.4s;
}
.grass:hover {
  background-color: #78c850;
  color: white;
  box-shadow: 10px 9px 0px black;
  border: none;
}
.electric {
  border: 2px solid #f8d030;
  background-color: white;
  color: #f8d030;
  box-shadow: 10px 9px 0px #f8d030;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.electric:hover {
  background-color: #f8d030;
  color: white;
  box-shadow: 10px 9px 0px black;
  border: none;
}
.psychic {
  border: 2px solid #f85888;
  background-color: white;
  color: #f85888;
  box-shadow: 10px 9px 0px #f85888;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.psychic:hover {
  background-color: #f85888;
  color: white;
  box-shadow: 10px 9px 0px black;
  border: none;
}
.ice {
  border: 2px solid #86d1f3;
  background-color: white;
  color: #86d1f3;
  box-shadow: 10px 9px 0px #86d1f3;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.ice:hover {
  background-color: #86d1f3;
  color: white;
  box-shadow: 10px 9px 0px black;
  border: none;
}
.dragon {
  border: 2px solid #7038f8;
  background-color: white;
  color: #7038f8;
  box-shadow: 10px 9px 0px #7038f8;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.dragon:hover {
  background-color: #7038f8;
  color: white;
  box-shadow: 10px 9px 0px black;
  border: none;
}
.dark {
  border: 2px solid #5a5979;
  background-color: white;
  color: #5a5979;
  box-shadow: 10px 9px 0px #5a5979;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.dark:hover {
  background-color: #5a5979;
  color: white;
  box-shadow: 10px 9px 0px black;
  border: none;
}
.fairy {
  border: 2px solid #ee99ac;
  background-color: white;
  color: #ee99ac;
  box-shadow: 10px 9px 0px #ee99ac;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.fairy:hover {
  background-color: #ee99ac;
  color: white;
  box-shadow: 10px 9px 0px black;
  border: none;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.global-class-name {
  color: blue;
}
